.copy_con {
    position: relative;
}

.copy_btn {
    border: 1px solid #d9d9d9;
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
