.btn_center {
    margin-top: 10px;
    text-align: center;
    word-break: break-all;
}
.sl_list {
    margin: 10px 0;
}

.encode_btns {
    margin-top: 10px;
    display: flex;
}
.encode_btn {
    margin: 0 5px 0 0;
}
