.loginBox {
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px 0;
    width: 400px;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.loginLabel {
    margin: 15px 30px;
}

.loginInput {
    height: 50px;
}
